[submodule "metachatr"]
	path = metachatr
	url = git@github.com:KayEss/metachatr.git
[submodule "Boost"]
	path = Boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "crypto++"]
	path = crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = git@github.com:KayEss/fost-openssl.git
